var AUDITING = 0; // 待审核
var AUDIT_SUCCESS = 1; // 审核通过
var AUDIT_FAIL = 2; // 审核未通过

var OPEN = 0; //活动开启状态
var CLOSE = 1; // 活动关闭状态

/**
 * 剩余桌数展示
 */
function getRemainTitle(num) {
  if (+num === -1) {
    return '不限';
  } else {
    return num + '桌';
  }
}

/**
 * 是否待审核
 */
function isAuditing(auditStatus) {
  return +auditStatus === AUDITING;
}

/**
 * 是否审核失败
 */
function isAuditFail(auditStatus) {
  return +auditStatus === AUDIT_FAIL;
}

/**
 * 是否审核成功并且开启
 */
function isAuditSuccessAndOpen(auditStatus, onStatus) {
  return +auditStatus === AUDIT_FAIL && +onStatus === OPEN;
}

/**
 * 是否审核成功并且关闭
 */
function isAuditSuccessAndClose(auditStatus, onStatus) {
  return +auditStatus === AUDIT_FAIL && +onStatus === CLOSE;
}

module.exports = {
  getRemainTitle: getRemainTitle,
  isAuditing: isAuditing,
  isAuditFail: isAuditFail,
  isAuditSuccessAndOpen: isAuditSuccessAndOpen,
  isAuditSuccessAndClose: isAuditSuccessAndClose
};
