var AUDITING = 0; // 待审核
var AUDIT_SUCCESS = 1; // 审核通过
var AUDIT_FAIL = 2; // 审核未通过

var OPEN = 0; //活动开启状态
var CLOSE = 1; // 活动关闭状态

var SHELVES = 0; // 已上架
var UN_SHELVES = 1; // 已被强制下架

/**
 * 剩余桌数展示
 */
function getRemainTitle(num) {
  if (+num === -1) {
    return '不限';
  } else {
    return num + '桌';
  }
}

/**
 * 是否待审核
 */
function isAuditing(auditStatus) {
  return parseInt(auditStatus) === AUDITING;
}

/**
 * 是否审核失败
 */
function isAuditFail(auditStatus) {
  return parseInt(auditStatus) === AUDIT_FAIL;
}

/**
 * 是否审核成功并且开启
 */
function isAuditSuccessAndOpen(auditStatus, onStatus) {
  return parseInt(auditStatus) === AUDIT_SUCCESS && parseInt(onStatus) === OPEN;
}

/**
 * 是否审核成功并且关闭
 */
function isAuditSuccessAndClose(auditStatus, onStatus) {
  return parseInt(auditStatus) === AUDIT_SUCCESS && parseInt(onStatus) === CLOSE;
}

/**
 * 活动是否已下架
 */
function isUnShelves(shelvesStatus) {
  return parseInt(shelvesStatus) === UN_SHELVES;
}

/**
 * 活动费用
*/
function charge(item) {
  if (item.isCharge == 0) {
    return "Free"
  } else if (item.isCharge == 1){
    return "Ticket：¥" + item.charges
  }
}
// 账单
function showTextPrice(money, type){
  if (type == -1) {
    if (money >= 0) {
      return "+" + money
    } else {
      return money
    }
  } else if (type == 0) {
    return "+" + money
  } else {
    return money
  }
}

module.exports = {
  getRemainTitle: getRemainTitle,
  isAuditing: isAuditing,
  isAuditFail: isAuditFail,
  isAuditSuccessAndOpen: isAuditSuccessAndOpen,
  isAuditSuccessAndClose: isAuditSuccessAndClose,
  isUnShelves: isUnShelves,
  charge: charge,
  showTextPrice: showTextPrice
};
