function getBusinessStatus(statusChecked) {
  return statusChecked ? '当前状态：营业中' : '当前状态：休业中';
}

function getReserveStatus(reserveChecked) {
  return reserveChecked ? '当前状态：已开启' : '当前状态：已关闭';
}

/**
 * 审核状态提示
 * @param auditStatus 审核状态
 */
function getAuditStatus(auditStatus) {
  switch (auditStatus) {
    case -1:
      return '未认证';
    case 0:
      return '认证审核中';
    case 1:
      return '已认证';
    case 2:
      return '审核未通过';
    default:
      return '';
  }
}

/**
 * 是否审核失败
 * @param auditStatus 审核状态
 */
function isAuditFail(auditStatus) {
  return auditStatus === 2;
}

/**
 * 是否认证成功
 * @param auditStatus 审核状态
 */
function isAuditSuccess(auditStatus) {
  return auditStatus === 1;
}

/**
 * 隐藏手机号中间四位
 * @param phone 手机号
 */
function transformPhone(phone) {
  return phone.substring(0, 3) + '****' + phone.substring(7);
}
/**
 * 保留小数
*/
function parseFloatText(value, num=2){
  return parseFloat(value).toFixed(num)
}

module.exports = {
  getBusinessStatus: getBusinessStatus,
  getReserveStatus: getReserveStatus,
  getAuditStatus: getAuditStatus,
  isAuditFail: isAuditFail,
  isAuditSuccess: isAuditSuccess,
  transformPhone: transformPhone,
  parseFloatText: parseFloatText
};
